<%= form_for(@userlogin) do |f| %>
  <% if @userlogin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userlogin.errors.count, "error") %> prohibited this userlogin from being saved:</h2>

      <ul>
      <% @userlogin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userName %><br />
    <%= f.text_field :userName %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
